<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="param" value="123" />
  </appSettings>
  <connectionStrings>
    <add name="Quickstart" connectionString="Server=DESKTOP-552QF02;Database=Quickstart;User=UserQuickstart;Password=123456" />
  </connectionStrings>
</configuration>